# The URL of the web renderer service (used by the Slack function)
RENDERER_URL=https://slack-render-md.deno.dev

# Slack bot token (set automatically by Slack platform in production)
SLACK_BOT_TOKEN=
